@import "../core";

$buttons-color: "primary""secondary""error";

@mixin default-button {
  border: none;
  margin: 0px;
  padding: 10px;
  background: transparent;
  cursor: pointer;
  border-radius: 6px;
  min-width: 50px;
  min-height: 45px;
  font-family: $font-family;
  font-size: medium;
}

@mixin button-active($color) {
  transition: 0.5s;

  &:active {
    background-color: mix($color, #fff);
  }
}

@each $button-color in $buttons-color {
  .stroked-button[color="#{$button-color}"] {
    @include themify() using ($theme) {
      $color: get-color($theme, $button-color);
      @include default-button;
      @include button-active($color);

      color: $color;
      border: $color solid 1px;
    }
  }

  .flat-button[color="#{$button-color}"] {
    @include themify() using ($theme) {
      $color: get-color($theme, $button-color);
      @include default-button;
      @include button-active($color);

      border: $color solid 1px;
      background-color: $color;
      color: get-text-color($color);
    }
  }

  .fab-button[color="#{$button-color}"] {
    @include themify() using ($theme) {
      $color: get-color($theme, $button-color);
      @include default-button;
      @include button-active($color);

      border: $color solid 1px;
      background-color: $color;
      color: get-text-color($color);
      height: 40px;
      width: 40px;
      min-width: 30px;
      min-height: 30px;
      border-radius: 20px;
    }

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}