@import "../core";

.input-outline {
  border-radius: 4px;
  background: transparent;
  min-width: 200px;
  padding: 12px 20px;
  margin: 8px 0;
  
  @include themify() using ($theme) {
    $color: get-color($theme, "background");
    $font-color: get-text-color($color);

    color: $font-color;
    font-family: $font-family;
    border: mix($color, $font-color, 80%) solid 1px;
  }
}
