%input {
  border-radius: 4px;
  background: transparent;
  min-width: 200px;
  padding: 12px 20px;
  margin: 8px 0;

  color: var(--background-text, #000);
  border: var(--background-text, #000) solid 1px;
}
