@import "../core";

.toolbar {
  @include themify() using ($theme) {
    $color: get-color($theme, "background");
    $font-color: get-text-color($color);
    background-color: mix($color, $font-color, 90%);
  }

  padding: 10px;
  height: 60px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-family: $font-family;

  h1 {
    font-size: 25px;
    margin: 0;
  }

  h2 {
    font-size: 15px;
    margin: 0;
  }
}