@import "../core";

.card {
  border-radius: 10px;
  width: max-content;
  padding: 10px;

  @include themify() using ($theme) {
    $color: get-color($theme, "background");
    $font-color: get-text-color($color);

    background-color: mix($color, $font-color, 90%);
    border: mix($color, $font-color, 80%) solid 1px;
  }
}