.background {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0px;

    .list-card {
        display: flex;
        flex-direction: row;
        gap: 10px;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    
        .card {
            width: 200px;
        }
    }
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}
