<div style="width: 100vw; height: 100vh;" class="{{ theme }}-theme">
  <div style="width: 100%; height: 100%;" class="background">
    <div class="toolbar">
      asdasd
      <button class="fab-button" color="primary" (click)="changeTheme()">
        <span class="material-symbols-outlined">
          dark_mode
        </span>
      </button>
    </div>
    <div class="card">
      <button class="stroked-button" color="primary">
        stroked primary
      </button>

      <button class="flat-button" color="primary">
        flat primary
      </button>

      <button class="flat-button" color="error">
        flat error
      </button>

      <button class="flat-button" color="secondary">
        flat secondary
      </button>
    </div>
  </div>
</div>