<div class="{{ theme }}-theme page">
  <div class="home">
    <header>
      <div>
        <h1>Título</h1>
        <h2>Subtitulo</h2>
      </div>
      <button (click)="changeTheme()">
        <span class="material-symbols-outlined"> {{ theme }}_mode </span>
      </button>
    </header>

    <main>
      <nav>
        <ul>
          <li>
            <a> Página inicial </a>
          </li>
          <li>
            <a> Sobre nós </a>
          </li>
          <li>
            <a> Contato </a>
          </li>
        </ul>
      </nav>

      <input placeholder="Search..." />

      <section>
        <article>
          <h1>Título do artigo 1</h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod ...
          </p>
        </article>
        <article>
          <h1>Título do artigo 2</h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod ...
          </p>
        </article>
        <article>
          <h1>Título do artigo 3</h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod ...
          </p>
        </article>
      </section>
    </main>

    <footer>
      footer
    </footer>
  </div>
</div>
