@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

%colors {
  --primary: #6200ee;
  --primary-text: #fff;

  --secondary: #03dac6;
  --secondary-text: #000;

  --error: #b00020;
  --error-text: #fff;

  font-family: "Roboto", sans-serif;
}
