$colors: "primary" "secondary" "error";

@mixin button {
  @each $color in $colors {
    .flat-button[color="#{$color}"],
    .stroked-button[color="#{$color}"],
    .fab-button[color="#{$color}"] {
      &:active {
        background-color: var(--#{$color});
      }
    }

    .flat-button[color="#{$color}"],
    .fab-button[color="#{$color}"] {
      border: var(--#{$color}) solid 1px;
      background-color: var(--#{$color});
      color: var(--#{$color}-text);
    }

    .stroked-button[color="#{$color}"] {
      color: var(--#{$color});
      border: var(--#{$color}) solid 1px;
    }
  }
}

.home {
  --primary: #6200ee;
  --primary-text: #fff;

  --secondary: #03dac6;
  --secondary-text: #000;

  --error: #b00020;
  --error-text: #fff;

  @include button;
}
