.dark-theme {
  --background: #191919;
  --background-text: #fff;

  --surface: #323232;
  --surface-text: #fff;

  width: 100%;
  height: 100%;

  .home {
    background-color: var(--background);
    color: var(--background-text);

    header {
      background-color: var(--surface);
      color: var(--surface-text);
    }

    main {
      input {
        color: var(--background-text);
        border: var(--background-text) solid 1px;
      }

      section {
        article {
          background-color: var(--surface);
          color: var(--surface-text);
        }
      }
    }
  }
}
