.light-theme {
  --background: #fff;
  --background-text: #000;

  --surface: #ccc;
  --surface-text: #000;

  .home {
    background-color: var(--background);
    color: var(--background-text);

    header {
      background-color: var(--surface);
      color: var(--surface-text);
    }

    main {
      input {
        color: var(--background-text);
        border: var(--background-text) solid 1px;
      }

      section {
        article {
          background-color: var(--surface);
          color: var(--surface-text);
        }
      }
    }
  }
}
